<% provide(:title, "Change Password") %>
<div class='d-flex justify-content-center row'>
  <div class='col-md-12 offset-md-4 mt-2'>
    <h2 class="ml-3">Change Password</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %><br />
        </div>
        <div class="col-md-7">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :password %> <br />
        </div>
        <div class="col-md-7">
          <%= f.password_field :password, class: "form-control", class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password_confirmation %><br />
        </div>
        <div class="col-md-7"> 
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :current_password %> <br />
        </div>
        <div class="col-md-7">
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
        </div>
      </div>


      <div class="actions ml-3 mt-2">
        <%= f.submit "Update", class: 'btn btn-primary btn-md' %>
            <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>
