<% provide(:title, "Sign up") %>
<div class='d-flex justify-content-center row'>
  <div class='col-md-12 offset-md-4 mt-2'>
    <h2 class="ml-3">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :profile_image %><br />
        </div>
        <div class="col-md-7">
          <%= f.file_field :profile_image, class: "form-control" %> 
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :fullname %><br />
        </div>
        <div class="col-md-7">
          <%= f.text_field :fullname, class: "form-control", autofocus: true %> 
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :username %><br />
        </div>
        <div class="col-md-7">
          <%= f.text_field :username, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %><br />
        </div>
        <div class="col-md-7">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
        </div>
        <div class="col-md-7">
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password_confirmation %><br />
        </div>
        <div class="col-md-7">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions ml-3 mt-2">
        <%= f.submit "Sign up", class: 'btn btn-primary btn-md' %>
        <p><%= render "devise/shared/links" %>
        <%= link_to "Terms of Use", "https://help.instagram.com/581066165581870", :target => "_blank" %></p>
      </div>
    <% end %>
  </div>
</div>

