<%= form_with(model: [post, Comment.new] ) do |f| %>
  <div class="form-group">
    <div class="control-label col-xs-2">
      <%= f.label 'Comment' %>
    </div>
    <div class="col-xs-8">
      <%= f.text_area :body, class: "form-control", size: "50x1", maxlength: "300" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: 'btn btn-primary btn-md' %>
    </div>
  </div>
<% end %>