<% if comments.present? %> 
  <% comments.each do |comment| %>
    <p><strong><%= comment.user.username %></strong> <%= comment.body %></p>
    <% if comment.user == current_user %>
      <p><%= link_to "Delete Comment", post_comment_path(post, comment), method: :delete, remote: true, class: 'btn btn-danger btn-sm' %></p>
    <% end %>
  <% end %>
<% end %>