<% pre_like = post.likes.find_by(user_id: current_user.id) %>
<% if pre_like.present? %>
  <%= link_to post_like_path(post_id: post.id ,id: pre_like), method: :delete, remote: true do %>
    <p><%= fa_icon("heart") %> <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  <% end %>
<% else %>
    <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
      <p><%= fa_icon("heart-o") %> <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% end %>
<% end %>