<% if obj.present? %>
  <% obj.each do |post| %>
    <style>
    #username {
      margin: auto;
    }
    #post-image {
      width: 100%;
      height: 345px;
    }
    </style>
    <div class="col-md-4">
      <div class="card mb-4">
        <% if post.post_image.attached? %>
          <a href="#" data-toggle="modal" data-target="#modal-<%= post.id %>">
            <%= image_tag post.post_image, size: "293x293" %>
          </a>
          <div id="modal-<%= post.id %>" class="modal hide fade" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal">&#215;</a>
                <div class="row">
                  <div class="col-md-7">
                    <%= image_tag post.post_image, class: "image", id: "post-image"%>
                  </div>
                  <div class="col-md-5" id="post-content">
                    <div class="description my-2">
                      <strong><%= post.user.username %> </strong> <%= post.description %>
                    </div>
                    <% if post.comments.present? %>
                      <% post.comments.each do |comment| %>
                        <div class="mb-2" id="comments_area_<%= post.id %>">
                          <strong><%= comment.user.username %></strong> <%= comment.body %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <%= link_to('Go to post', post_path(post), class: "btn btn-outline-secondary") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

