<% provide(:title, @title)%>
<div class='justify-content-center row'>
  <div class='col-md-12 offset-md-4'>
    <h2>Edit Profile</h2>
    <%= form_with(model: @user, local: true) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :profile_image %> <br />
        </div>
        <div class="col-md-8">
          <%= f.file_field :profile_image, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :fullname %><span style="color:red">＊</span>
        </div>
        <div class="col-md-8">
          <%= f.text_field :fullname, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :username %><span style="color:red">＊</span>
        </div>
        <div class="col-md-8">
          <%= f.text_field :username, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :website %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :website, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :bio %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :bio, class: "form-control", size: "20x5", maxlength: "300", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :email, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :phone_number %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :phone_number, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :gender %>
        </div>
        <div class="col-md-8">
          <%= f.select :gender, ['Not Specified','Male', 'Female'], class: "form-control", autofocus: true %> 
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= link_to('Change Password', edit_user_registration_path(current_user), class: "btn btn-outline-secondary") %>
          <%= link_to('Delete Account', registration_path(current_user), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger") %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="edit-sub-btn">
          <%= f.submit class: 'btn btn-primary btn-md' %>
        </div>
      </div>
    <% end %>
  </div>
</div>