<% provide(:title, @title)%>
<%= render "common/notificationsstyling" %>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-light rounded shadow-sm">
    <% if current_user.profile_image.attached? %>
      <%= image_tag current_user.profile_image, class: "mr-3", size: "48x48" %>
    <% elsif current_user.image.present? %>
      <%= image_tag current_user.image, class: "mr-3", size: "48x48" %>
    <% else %>
      <%= image_tag 'default_profile_picture.jpg', class: "mr-3", size: "48x48" %>
    <% end %>
    <div class="lh-100">
      <h6 class="mb-0 text-black lh-100"><%= current_user.username %> <%= @title %> list</h6>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= @title %> list</h6>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class="media text-muted pt-3">
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, class: "mr-2 rounded", size: '32x32' %>
            <% elsif user.image.present? %>
              <%= image_tag user.image, class: "mr-2 rounded", size: '32x32' %>
            <% else %>
              <%= image_tag 'default_profile_picture.jpg', class: "mr-2 rounded", size: '32x32' %>
            <% end %>
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark"><%= link_to user.username, user %></strong>
            </p>
          </div>
        <% end %>
      <% end %>
      <center><%= link_to "Go Back", @user, class: "btn btn-outline-secondary my-3" %></center>
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <div class="digg_pagination">
            <%= will_paginate @users %>
          </div>
        </li>
      </ul>
  </div>
</main>