<% provide(:title, @title) %>
<%= render "common/showstyling" %>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @user.username %></h1>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, style: 'width:150px;height:150px;border-radius: 50%;' %>
      <% elsif @user.image.present? %>
        <%= image_tag @user.image, style: 'width:150px;height:150px;border-radius: 50%;' %>
      <% else %>
        <%= image_tag 'default_profile_picture.jpg', style: 'width:150px;height:150px;border-radius: 50%;' %>
      <% end %>
      <p>
      <%= render 'stats' %>
      </p>
      <p class="lead text-muted">
        <%= @user.fullname %><br>
        <%= @user.bio %><br>
        <%= @user.website %></p>
      <p>
        <% if current_user == @user %>
          <%= link_to('Edit Profile', edit_user_path(current_user), class: "btn btn-outline-secondary my-2") %>
        <% else %>
          <%= render 'follow_form' %>
        <% end %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <%= render 'post', obj: @posts %>
      </div>
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <div class="digg_pagination">
            <%= will_paginate @posts %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
