<% provide(:title, "Login") %>
<%= render "devise/shared/frontstyling" %>
<div class="card">
  <%= form_for(resource, as: resource_name, html: {class: "form-signin"}, url: session_path(resource_name)) do |f| %>
    <center><%= image_tag 'instagram_favicon.png', size: '72x72', class:"mb-4" %></center>
    <center><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></center>
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "email" %>
    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", placeholder: "password" %>
    <center><span>email: test@test.com</span></center>
    <center><span>password: password</span></center><br>
    <center><p>Don't have an account? <%= link_to "Sign Up", new_user_registration_path %></p></center>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <% end %>
  <%= button_to 'Login with Facebook', user_facebook_omniauth_authorize_path, class: 'btn btn-lg btn-primary btn-block', id: 'facebook-login' %>
  <center><p class="mt-5 mb-3 text-muted">&copy; 2019 Rutger Taal</p></center>
</div>
