<% provide(:title, @title) %>
<style>
  @media (max-device-width: 812px)   {
    #profile-info.row {
      text-align: center !important;
    }
  }
  .alert.alert-notice {
    background-color: #d4edda;
  }
</style>
<% if current_user.following.any? %>
  <% @feed.each do |post| %>
  <main role="main">

    <div class="album py-5 bg-light">
      <div class="container">
          <div class="col-md-10">
            <div class="card mb-10 offset-md-2">
              <div class="row" id="profile-info">
                <div class="col-md-1 ml-3 my-2">
                  <% if post.user.profile_image.attached? %>
                    <%= image_tag post.user.profile_image, style: 'width:50px;height:50px;border-radius: 50%;' %>
                  <% elsif post.user.image.present? %>
                    <%= image_tag post.user.image, style: 'width:50px;height:50px;border-radius: 50%;' %>
                  <% else %>
                    <%= image_tag 'default_profile_picture.jpg', style: 'width:50px;height:50px;border-radius: 50%;' %>
                  <% end %>
                </div>
                <div class="col-md-8 ml-2 p-2">
                  <h2><%= post.user.username %></h2>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <% if post.post_image.attached? %>
                  <%= image_tag post.post_image, style: 'width:100%;height:auto' %>
                <% end %>
              </div>
              <div id="like_buttons_<%= post.id %>", class="col-md-12 ml-1 mt-1">
                <%= render partial: 'likes/like', locals: { post: post } %>
              </div>
              <div class="col-md-12 ml-1">
                <p><strong><%= post.user.username %></strong> <%= post.description %></p>
              </div>
              <div class='col-md-12 ml-1 mb-3'>
                <div id="comments_area_<%= post.id %>">
                  <%= render partial: 'comments/index', locals: { comments: post.comments, post: post } %>
                </div>
                <%= render partial: 'comments/form', locals: { post: post } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% end %>
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <div class="digg_pagination">
        <%= will_paginate @feed %>
      </div>
    </li>
  </ul>
<% end %>

<% if current_user.following.blank? %>
  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-black-50 bg-info rounded shadow-sm">
      <div class="lh-100">
        <h6 class="mb-0 text-black lh-100">Users to check out!</h6>
      </div>
    </div>
    <div class="mt-3 mb-5 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
        <% @users.each do |user| %>
          <% unless @already_following.include?(user.id) %>
            <div class="media text-muted pt-3">
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, class: "mr-2 rounded", size: '75x75' %>
              <% elsif user.image.present? %>
                <%= image_tag user.image, class: "mr-2 rounded", size: '75x75' %>
              <% else %>
                <%= image_tag 'default_profile_picture.jpg', class: "mr-2 rounded", size: '75x75' %>
              <% end %>
              <p class="media-body pt-4 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark mb-5"><%= link_to user.username, user %></strong>
              </p>
            </div>
          <% end %>
        <% end %>
    </div>
  </main>
<% end %>
