<% provide(:title, @title)%>
<div class='justify-content-center row'>
  <div class='col-md-12 offset-md-4'>
    <h2>Upload new post</h2>
    <%= form_with(model: @post, local: true) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :post_image %>
        </div>
        <div class="col-md-7">
          <%= f.file_field :post_image, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description %>
        </div>
        <div class="col-md-7">
          <%= f.text_area :description, class: "form-control", size: "20x5", maxlength: "300", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-7">
          <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>