<% provide(:title, @title)%>
<%= render "common/poststyling" %>

<div class="row mt-4">
  <div class="col-md-7">
    <%= image_tag @post.post_image, class: "image", id: "post-image" %>
  </div>
  <div class="col-md-5" id="post-content">
    <div class="user">
      <div class="row", id="username">
        <% if @post.user.profile_image.attached? %>
          <%= image_tag @post.user.profile_image, class: "profile" %>
        <% elsif @post.user.image.present? %>
          <%= image_tag @post.user.image, class: "profile" %>
        <% else %>
          <%= image_tag 'default_profile_picture.jpg', class: "profile" %>
        <% end %>
        <h2 class="ml-2"><%= @post.user.username %></h2>
      </div>
    </div>
    <div class="description mt-2">
      <p><strong><%= @post.user.username %></strong> <%= @post.description %></p>
    </div>
    <div id="like_buttons_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: { post: @post } %>
    </div>
    <% if @post.user == current_user %>
      <p><%= link_to('Delete Post', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger") %></p> 
    <% end %>
    <div class="mb-2" id="comments_area_<%= @post.id %>">
      <%= render partial: 'comments/index', locals: { comments: @post.comments, post: @post } %>
    </div>
    <%= render partial: 'comments/form', locals: { post: @post } %>
  </div>
</div>


