<footer class="fixed-bottom page-footer font-small unique-color-dark pt-2 bg-light">
    <div class="container">
			<ul class="list-unstyled list-inline text-center pt-1">
        <li class="list-inline-item">
          <%= link_to('Upload Picture', new_post_path, class: "btn btn-outline-success my-2 my-sm-0") %>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center pb-1">© 2019 Copyright:
      <a href="#"> Rutger Taal</a>
    </div>
</footer>