<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to posts_path do %>
      <%= image_tag "instagram_logo.png", style: "width:100px", class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_user.present? %>
          <li class="nav-item">
            <%= link_to(posts_path, class: "nav-link") do %>
              <i class="fa fa-instagram fa-lg"></i>
            <% end %>
          </li>
        <% end %>
        <% if current_user.present? %>
          <li class="nav-item">
            <%= link_to(user_path(current_user), class: "nav-link") do %>
              <i class="fa fa-user fa-lg"></i>
            <% end %>
          </li>
        <% end %>
        <% if current_user.present? %>
          <li class="nav-item">
            <% if (unread = Activity.where(recipient: current_user)&.unread_by(current_user)).present? %>
              <%= link_to(activities_path, class: "nav-link") do %>
                <i class="fa fa-bell fa-lg"></i><span id="badge-notify"> <%= unread.count %> </span>
              <% end %>
            <% else %>
              <%= link_to(activities_path, class: "nav-link") do %>
                <i class="fa fa-bell fa-lg"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link") do %>
            <i class="fa fa-power-off fa-lg"></i>
          <% end %>
        </li>
      </ul>
      <%= form_tag(posts_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
        <%= text_field_tag :description, params[:description], class: "form-control mr-sm-2", placeholder: "Search" %>
        <%= submit_tag 'Search', name: nil, class: "btn btn-info my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>
</nav>