<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('instagram_favicon.png') %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'common/header' %>
    <% end %>
    <div class="container">
    <%= render 'common/errormessages' %>
    <%= yield %>
    <% if user_signed_in? %>
      <%= render 'common/footer' %>
    <% end %>
    </div>
  </body>
</html>
